

body {
    background-color: black;
    color: white;
}

.container {
    background-color: #272626;
    width: 80%;
    margin: auto;
    border-radius: 20px;
}

.heading {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 90px;
}

.heading span {
    color: red;
}

.img-div {
    text-align: center;
}

.img-div img {
    width: 400px;
    border-radius: 40px;
    box-shadow: 5px 5px 500px red;
}

.par2 {
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 1.5rem;
}

.heading2 {
    font-family: 'Lobster', cursive;
    color: red;
    margin-left: 10%;
}

ul{
    width: 80%;
    margin: auto;
}

li {
    font-size: 1.5rem;
    line-height: 2;
}

.footer {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
    border: 2px solid #FF8C00;
    padding: 1rem;
    background-color: black;
    border-radius: 10px;
}

.footer a:hover{
    background-color: #272626;
    color: red;
}